body{
    background-color: rgb(148, 148, 148);
    margin: 0px;
    font-family: 'Merriweather', serif;
}
#topcontainer{
    background-color: rgb(188, 255, 233);

}

h1{
    font-family: 'Sacramento', cursive;
}

p{
    font-family: 'Montserrat', sans-serif;
}

/* ==================================display property====================================== */
/* 
inline
block
inline-block
none 
*/

/* -----------------------------------------relative position------------------------------ */
/* relative to its previous position */
/* .one{
    background-color: blue;
    width: 410px;
    height: 410px;
}

.two{
    background-color: crimson;
    width: 410px;
    height: 410px;
    position: relative;
    left: 410px;
    bottom: 410px;
}

.three{
    background-color: darkgreen;
    width: 410px;
    height: 410px;
    position: relative;
    left: 820px;
    bottom: 820px;
} */

/* Apply to all four sides */

.mwenda{
    width: 700px;
    height: 90px;
    background-color: #d3000077;
    margin: auto;
    
}

/* /////////////////////////////////about margins////////////////////////////// */
/* Apply to all four sides
margin: 1em;
margin: -3px;

top and bottom | left and right 
margin: 5% auto;

top | left and right | bottom
margin: 1em auto 2em;

top | right | bottom | left
margin: 2px 1em 0 auto;

Global values
margin: inherit;
margin: initial;
margin: revert;
margin: revert-layer;
margin: unset; */

.one{
    background-color: red;
    width: 418px;
    height: 410px;
    display: inline-block;
    position: relative;
    left: 836px;
}

.three{
    background-color: blue;
    width: 418px;
    height: 410px;
    display: inline-block;
    position: relative;
    right: 418px;
}


.two{
    background-color: yellow;
    width: 418px;
    height: 410px;
    display: inline-block;
    position: relative;
    right: 418px;


}

/* -----------------------------------------absolute position------------------------------ */
/* absolute postion to its parent */
/* 
.absolute{
    background-color: rgb(255, 226, 167);
}



 .four{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    position: absolute;
   
 }

    .nos{color: aliceblue;
    font-size: 30px;
    }




    .five{
    width: 200px;
    height: 200px;
    background-color: rgb(226, 43, 43);
    position: absolute;
    left: 200px;
    top: 727px;
    
 }


    .six{
    width: 200px;
    height: 200px;
    background-color: rgb(147, 226, 43);
    position: absolute;
    left: 400px;
    top: 927px;
    
 } */
 /* --------------------------------------fixed position------------------------------ */
/* the position is constant throughout the page */

#topbar{
    position: fixed;
    width: 100%;
    height: 40px;
    background-color: rgb(0, 41, 155);
    text-align: center;
    color: aliceblue;
}

body{
    text-align: center;
  } 

  /* h1{
    width: 10%;
    margin: 0 auto;
} */